
/* Estilo base para el contenedor de botones */
.menu-container {
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre botones */
    padding: 10px;
    gap: 10px; /* Espacio entre botones */
    flex-direction: row ;
}

/* Opcional: Estilo para los botones */
.category-btn {
    flex: 1; /* Hace que todos los botones tengan el mismo ancho */
    text-align: center;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
